@model NewsletterViewModel

<section id="@Model.Id" class="newsletter">
    <div class="container">
        <div class="content">
            <h1>@Model.Title</h1>
            <img src="@Model.Arrow.ImageUrl" alt="@Model.Arrow.AltText">
        </div>

        <form id="registerNewsletter" asp-action="Index" asp-controller="Home" method="post" novalidate>
            <div class="choose-newsletter">
                <h5>Sign up for<br> Newsletters</h5>
                <div class="checkboxes">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="DailyNewsletter" name="Newsletter.DailyNewsletter" />
                        <label class="form-check-label" asp-for=DailyNewsletter></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="AdvertisingUpdates" name="Newsletter.AdvertisingUpdates" />
                        <label class="form-check-label" asp-for=AdvertisingUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="WeekInReview" name="Newsletter.WeekInReview" />
                        <label class="form-check-label" asp-for=WeekInReview></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="EventUpdates" name="Newsletter.EventUpdates" />
                        <label class="form-check-label" asp-for=EventUpdates></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="StartupsWeekly" name="Newsletter.StartupsWeekly" />
                        <label class="form-check-label" asp-for=StartupsWeekly></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="Podcasts" name="Newsletter.Podcasts" />
                        <label class="form-check-label" asp-for=Podcasts></label>
                    </div>
                </div>
            </div>
            <div class="subscribe">
                <i class="fa-regular fa-envelope"></i>
                <input id="email" class="form-input" asp-for="Email" />
                <button id="form-submit" type="submit" class="btn-theme">Subscribe *</button>
            </div>
        </form>

        <span class="information">
            @if (ViewData["Status"]?.ToString() == "Success")
            {
                <span class="alert alert-success">
                    You have been subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert alert-warning">
                    You have already subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Invalid")
            {
                <span class="alert alert-danger">
                    You must enter an valid email address
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unabled to connect to server. Please try again later!
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    Something went wrong. Please contact web admin.
                </span>
            }
            else
            {
                <p class="terms-and-privacy">* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy.</a></p>
            }
        </span>
    </div>
</section>